<div class="news-item">
    <h3><%= newsItem.title %></h3>
    <p class="date"><%= newsItem.pubDate %></p>
    <p><%= newsItem.description %></p>
    <a href="<%= newsItem.link %>">Читать далее</a>
</div>